:root {
  --primary-color: #f3ca52;
  --secondary-color: #02472e;
  --light-bg: #fcefb4;
}

body {
  background-color: var(--light-bg);
  font-family: 'Segoe UI', sans-serif;
}

.btn-share {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.btn-filter {
  border-radius: 20px;
  background-color: #eee;
  padding: 5px 15px;
  font-size: 14px;
}

.btn-filter.active {
  background-color: var(--secondary-color);
  color: white;
}

.recipe-card {
  background: white;
}

.avatar {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta {
  font-size: 14px;
  color: #777;
}

.btn-cost {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-follow {
  background-color: var(--secondary-color);
  color: white;
}
