* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f3ca52;
    --light-primary-color: #f7d97d;
    --secondary-color: #02472e;
    --light-secondary-color: #38a34a;
    --text-color: #333;
    --card-bg: #fff;
}

.register-bg {
    background: linear-gradient(135deg, var(--primary-color), var(--light-secondary-color));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-register {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
    height: 40px;
    font-size: 1rem;
    margin-top: 10px;
}

.btn-register:hover {
    background-color: var(--light-primary-color);
    transform: scale(1.05);
}

.btn-google {
    border: 1px solid #ddd;
    color: #333;
    background: #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-google:hover {
    background: #f7f7f7;
    transform: scale(1.03);
}


.card {
    background-color: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}